/* Ekran genişliği 768 pikselden küçük olduğunda */
@media screen and (max-width: 768px) {

     footer .mega .ragnars{
          background-color: #232f3e;
          border: none;
     }

     footer .mega .ragnars ul {
          display: none;
          flex-direction: column;
          align-items: flex-start;
     }

     footer .mega .ragnars ul li {
          margin: 5px 0;
     }
}