main{
     background-color: transparent;
     width: 100%;
     height: auto;
     padding-top: 3.25rem;
}

main .rules{
     margin: 0 auto;
     background-color: #192638;
     padding: .625rem;
     width: 80%;
     height: auto;
     padding: 1.25rem;
     margin-bottom: 6.25rem;
     border-radius: 2rem;
}

main .rules ul{
     list-style-type: none;
}

main .rules ul li{
     margin: .625rem;
     font-size: 1.875rem;
     color: white;
}

/**/

main .rules .area{
     background-color: transparent;
     width: 100%;
     height: auto;
     display: flex;
}

main .rules .area .one .fa-cap,
main .rules .area .two .fa-cap,
main .rules .area .three .fa-cap{
     font-size: 2.1875rem;
     color: whitesmoke;
}

main .rules .area .one .fa-desc,
main .rules .area .two .fa-desc,
main .rules .area .three .fa-desc{
     font-size: 1.5625rem;
     color: whitesmoke;
     animation: opacityAnimation 2s infinite;
}

main .rules .area .one{
     background-color: #131921;
     width: 25%;
     height: 12.5rem;
     padding: 1.25rem;
     margin-right: auto;
     border-radius: 5%;
}

main .rules .area .two{
     background-color: #131921;
     width: 25%;
     height: 12.5rem;
     padding: 1.25rem;
     margin: 0 auto;
     border-radius: 5%;
}

main .rules .area .three{
     background-color: #131921;
     width: 25%;
     height: 12.5rem;
     padding: 1.25rem;
     margin-left: auto;
     border-radius: 5%;
}

@keyframes opacityAnimation {
     
     0%{
          opacity: 1;
     }

     25%{
          opacity: 0.9;
     }

     50%{
          opacity: 0.8;
     }

     75%{
          opacity: 0.7;
     }

     100%{
          opacity: 1;
     }

}