header {
     background-color: black;
     width: 100%;
     height: 14.0625rem;
}

header .areaOne {
     background-color: #131921;
     width: 100%;
     height: 7.8125rem;
     display: flex;
}

header .areaOne .logoArea {
     background-color: transparent;
     width: 35%;
     height: 5.7625rem;
     padding-top: 2rem;
     text-align: center;
}

header .areaOne .logoArea a {
     font-size: 2.5rem;
     color: aliceblue;
     text-decoration: none;
}

header .areaOne .inputArea {
     margin: 0 auto;
     background-color: transparent;
     width: 40%;
     height: inherit;
     padding: inherit;
}

header .areaOne .inputArea input {
     margin-top: 1.6375rem;
     margin-left: 18%;
     width: 60%;
     height: 3.8rem;
     outline: none;
     border: none;
     background-color: whitesmoke;
     border-radius: 1rem;
     padding-left: 1.25rem;
     font-size: 1.5625rem;
     caret-color: #131921;
     color: #232f3e;
     border: .1875rem rgb(126, 124, 124) solid;
}

header .areaOne .userArea {
     background-color: transparent;
     width: 20%;
     height: 4.9625rem;
     padding: .625rem;
     padding-top: 2.1875rem;
     text-align: center;
}

header .areaOne .userArea a {
     background-color: transparent;
     font-size: 2rem;
     color: whitesmoke;
     text-decoration: none;
}

/*USERAREA DROPDOWN*/

header .areaOne .userArea .dropbtn {
     background-color: transparent;
     color: white;
     padding: 1rem;
     font-size: 1.8rem;
     border: none;
}

header .areaOne .userArea .dropbtn a{
     background-color: transparent;
     color: white;
     text-decoration: none;
}

header .areaOne .userArea .dropdown {
     position: relative;
     display: inline-block;
}

header .areaOne .userArea .dropdown-content {
     display: none;
     position: absolute;
     background-color: #2e3947;
     min-width: 10rem;
     box-shadow: 0rem .5rem 1rem 0rem rgba(0, 0, 0, 0.2);
     z-index: 1;
}

header .areaOne .userArea .dropdown-content a {
     color: whitesmoke;
     padding: .75rem 1rem;
     text-decoration: none;
     font-size: 1.5rem;
     display: block;
}

header .areaOne .userArea .dropdown-content a:hover {
     background-color: #232f3e;
}

header .areaOne .userArea .dropdown:hover .dropdown-content {
     display: block;
}

/**/

header .areaTwo {
     background-color: #232f3e;
     widows: 100%;
     height: 6.25rem;
     display: flex;
}

header .areaTwo .dropArea{
     margin: auto;
     background-color: #2e3947;
     height: 3.125rem;
}

header .areaTwo .dropArea .drow-inactive .dropbtn{
     display: none;
}

header .areaTwo .dropArea .dropbtn {
     background-color: transparent;
     color: white;
     padding: 1rem;
     font-size: 1rem;
     border: none;
}

header .areaTwo .dropArea .dropbtn a{
     background-color: transparent;
     color: white;
     text-decoration: none;
}

header .areaTwo .dropArea .dropdown {
     position: relative;
     display: inline-block;
}

header .areaTwo .dropArea .dropdown-content {
     display: none;
     position: absolute;
     background-color: #2e3947;
     min-width: 10rem;
     box-shadow: 0rem .5rem 1rem 0rem rgba(0, 0, 0, 0.2);
     z-index: 1;
}

header .areaTwo .dropArea .dropdown-content a {
     color: whitesmoke;
     padding: .75rem 1rem;
     text-decoration: none;
     display: block;
}

header .areaTwo .dropArea .dropdown-content a:hover {
     background-color: #232f3e;
}

header .areaTwo .dropArea .dropdown:hover .dropdown-content {
     display: block;
}